NODE_ENV=development
PORT=4000
APP_URL=http://127.0.0.1:3001

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/market
DIRECT_URL=postgresql://postgres:postgres@localhost:5432/market

JWT_SECRET=change_me_marketplace_dev_secret

STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
